# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/
.envrc

# PyCharm
.idea/

# Log / Cache / Output
*.log
*.tmp
*.out
*.bak

# Data
*.csv

# Model weights
*.pth

# Images
*.png

stylegan2-ada-pytorch-main/
ai_heatmap/
real_heatmap/